.cart-good
  box-sizing border-box
  padding 20px
  
  border 1px solid #BBBBBB
  border-radius 10px
  &--index
    display: flex;
    flex-direction: column;
    width 390px
    margin-right 60px
    margin-bottom 60px
    &:nth-child(4n)
      margin-right 0
    .desc
      margin-top: auto;
  &--new,
  &--hit
    .img
      position relative
      .new,
      .hit
        position absolute
        top 0
        right 0
        
        box-sizing border-box
        width 116px
        height 105px
        
        background-repeat no-repeat
        background-position top right
        background-size cover
        p
          font('Muller', 24px, 900, #FFFFFF)
          
          text-align right
          &:nth-child(1)
            margin-bottom 2px
            
            letter-spacing 2px
          &:nth-child(2)
            font-size 9px
            line-height 13px
            font-weight 500
            letter-spacing 1px
  &--hit
    .hit
      padding-top 6px
      padding-right 7px
      
      background-image url('%=static=%content/hit.png')
  &--new
    .new
      padding-top 6px
      padding-right 7px
      
      background-image url('%=static=%content/new.png')
  .desc
    padding-top 3px
    
    border-top 1px solid #E5E5E5
    h3
      font('Muller', 16px, 400, #FF3C38)
      
      margin-bottom 15px
      padding-left 8px
    ul
      reset-list()
      
      display flex
      justify-content space-between
      li
        position relative
        
        display flex
        flex-direction column
        align-items center
        
        cursor pointer
        &::before
          content ''
          
          position absolute
          top -20px
          left 50%
          z-index 1
          
          box-sizing border-box
          width 150px
          height 230px
          margin-left -75px
          
          background-color #ffffff
          box-shadow 5px 5px 4px 0 rgba(0, 0, 0, 0.12)
          
          border 1px solid #E5E5E5
          border-radius 100px 100px 10px 10px
          
          opacity 0
          
          transition 0.2s ease
        .calculate
          position absolute
          bottom -98px
          z-index 2
          
          display flex
          flex-direction column
          align-items center
          width: 127px;
          .add
            reset-button()
            font('Muller', 20px, 500, #FFFFFF)
            
            width 100%
            padding 8px 0
            
            text-align center
            
            background-color #1CAD33
            box-shadow 0px 3px 11px 0px rgba(0,0,0,0.25)
            
            border-radius 10px
            
            transition 0.2s ease
            &:hover
              background-color #158727
          .row
            display flex
            justify-content center
            align-items center
            width 100px
            margin-bottom 15px
            button
              reset-button()
              
              position relative
              
              flex-grow 1
              width 24px
              height 24px
              &::before,
              &::after
                center-absolute()
                
                content ''
                
                width 100%
                height 2px
                
                background-color #BBBBBB
              &::before
                transform rotate(-90deg)
              &.minus
                &::before
                  display none
            .val
              font('Muller', 22px, 700, #333333)
              
              box-sizing border-box
              width 35px
              height 35px
              margin 0 7px
              
              line-height 36px
              text-align center
              
              border 1px solid #E5E5E5
              border-radius 3px
          &.close
            hidden()
        .radio-icon
          position relative
          
          box-sizing border-box
          display block
          width 25px
          height 25px
          margin-bottom 8px
          
          border 1px solid #BBBBBB
          border-radius 50%
          &::before
            center-absolute()
            
            content ''
            
            display none
            width 13px
            height 13px
            
            background-color #1CAD33
            
            border-radius 50%
        .weight
          font('Muller', 18px, 700, #BBBBBB)
          
          margin-bottom 5px
          
          text-align center
        .price
          font('Muller', 38px, 700, #BBBBBB)
          
          text-align center
          span
            display inline-block
            width 26px
            height 26px
            margin-left 5px
            .icon
              display block
              width 26px
              height 26px
              
              fill #BBBBBB
        &.hover
          &::before
            opacity 1
          .radio-icon
            position relative
            z-index 2
            
            border 3px solid #1CAD33
            &::before
              display block
          .weight
            position relative
            z-index 2
            
            color #333333
          .price
            position relative
            z-index 2
            
            color #FF3C38
            span
              .icon
                fill #FF3C38
              
  .headline
    font('Muller', 20px, 700, #333333, true)
    
    display block
    margin-bottom 7px
    padding-left 20px
    &:hover
      color #0000CC
      
      text-decoration underline
  .img
    margin-bottom 8px
    img
      display block

      border-radius 19px
      
@media(max-width 1760px)
  .cart-good--index
    width: 23.4%;
    margin-right: 2%;
    
@media(max-width 1590px)
  .cart-good--index
    width: 31.9%;
    margin-bottom: 20px;
    &:nth-child(3n)
      margin-right 0
    &:nth-child(4n)
      margin-right 2%
      
@media(max-width 1170px)
  .cart-good--index
    width: 48.9%;
    &:nth-child(2n)
      margin-right 0
    &:nth-child(3n)
      margin-right 2%
    &:nth-child(4n)
      margin-right 0
    &:nth-child(6n)
      margin-right 0
      
@media(max-width 780px)
  .cart-good .desc ul li .price
    font-size: 26px;
    line-height: 30px;
    
  .cart-good .desc ul li .price span
    width: 16px;
    height: 16px;
    
  .cart-good .desc ul li .price span .icon
    width: 16px;
    height: 16px;
    
  .cart-good .desc ul li::before
    width: 100px;
    margin-left: -50px;
    height: 192px;
    
  .cart-good .desc ul li .calculate
    width: 82px;
    bottom: -70px;
    
  .cart-good .desc ul li .calculate .row
    width: 82px;
    
  .cart-good .desc ul li .calculate .row button
    width: 20px;
    height: 20px;
    flex-grow: 0;
    
  .cart-good .desc ul li .calculate .row .val
    width: 24px;
    height: 24px;
    line-height: 25px;
    font-size: 18px;
    margin: 0 5px;
    
  .cart-good .desc ul li .calculate .add
    font-size: 13px;
    line-height: 17px;
    padding: 6px 0;
    
@media(max-width 700px)
  .cart-good
    padding: 10px;
  
  .cart-good .headline
    font-size: 17px;
    line-height: 21px;
    padding-left: 10px;
    
@media(max-width 570px)
  .cart-good--index
    width 100%
    margin-right 0 !important
    
  .cart-good .desc ul
    justify-content: space-around;
      
      
      
      
      
      
      
      
      
      
      
      