@import 'blocks/slider/owl.carousel.css';
@import 'blocks/slider/owl.theme.default.css';
@import 'blocks/main/reset-owl.styl';
// components
@import 'blocks/page-header.styl';
@import 'blocks/page-content.styl';
@import 'blocks/prom.styl';
@import 'blocks/title.styl';
@import 'blocks/cart-good.styl';
@import 'blocks/popular.styl';
@import 'blocks/features.styl';
@import 'blocks/bread.styl';
@import 'blocks/inner.styl';
@import 'blocks/basket.styl';
@import 'blocks/footer-content.styl';
